<div class="page">
  <h1 class="page__title">Component Service</h1>
  <p class="page__introduction">
    When you need to share state between components that have the same component as a parent, grandparent or even
    further up the three and including the component itself a service provided in that component might be the best
    solution. The other option is working with inputs and outputs which is a more suitable solution when the distance is
    short between the components that need the same state.
  </p>
  <div class="page__example">
    <asm-component-with-provider></asm-component-with-provider>
  </div>
</div>