<div class="page">
  <h1 class="page__title">Component state</h1>
  <p class="page__introduction">
    Component state is state in the component. Other parts of the application should have the least amount of knowledge
    about this state. Management of component state is easy, since there will be a fresh start for each component and
    the state will be gone when the component is destroyed. But what if a component is not destroyed when needed?
  </p>
  <div class="page__example">
    <asm-undestroyed-component-example></asm-undestroyed-component-example>
  </div>
</div>