<mat-toolbar color="primary">
  <span>Wizard Navigation</span>
</mat-toolbar>

<nav mat-tab-nav-bar backgroundColor="accent" [tabPanel]="tabPanel">
  <a
    mat-tab-link
    [routerLink]="['personal-information']"
    routerLinkActive
    [active]="false"
  >
    Step 1: Personal Info
  </a>
  <a
    mat-tab-link
    [routerLink]="['address-information']"
    routerLinkActive
    [active]="false"
  >
    Step 2: Address
  </a>
  <a
    mat-tab-link
    [routerLink]="['payment-details']"
    routerLinkActive
    [active]="false"
  >
    Step 3: Payment
  </a>
  <a
    mat-tab-link
    [routerLink]="['payment-confirmation']"
    routerLinkActive
    [active]="false"
  >
    Step 4: Confirmation
  </a>
</nav>

<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>

<button mat-raised-button (click)="goToPrevious()" [disabled]="isFirstStep()">
  Previous
</button>

@if(isLastStep()) {
<button
  mat-raised-button
  color="primary"
  (click)="goToNext()"
  [disabled]="isLastStep()"
>
  Confirm
</button>
} @else {
<button
  mat-raised-button
  color="primary"
  (click)="goToNext()"
  [disabled]="isLastStep()"
>
  Next
</button>
}
