<div class="page">
  <h1 class="page__title">Route State</h1>
  <p class="page__introduction">
    Route state refers to global state that is scoped to a specific route. It becomes accessible only when within the
    route where the associated service is provided. This is typically achieved by providing the service directly in the
    route configuration. An instance of the service is created the first time the route is visited, and it persists
    across future visits—meaning it won't be destroyed or recreated on subsequent navigations to the same route.
  </p>
  <div class="page__example">
    This is state from the RouteStateService.
    <div>{{ this.prop1() }} {{this.prop2()}} {{this.prop3()}}</div>
    <div>{{this.summary()}}</div>

    <button [routerLink]="['/','outside-route-service']" class="button">Navigate outside route with the
      state service</button>
  </div>
</div>