:host {
  display: block;
  border: solid 2px blue;
  padding: 1rem;
}

.item-row {
  padding: 1rem;
  border: solid 1px black;
  display: flex;
  justify-content: space-between;

  > div {
    flex-basis: 100%;
    flex-grow: 1;
  }
}